body{
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	font-family: verdana, arial, sans-serif;
	font-size: 10pt;
	color: #333;
	background-color: #6A65A6;
}

h2{
	font-size: 16pt;
	text-align: left;
	color: #444170;
	margin-bottom: 20px;
}




#geral{
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	text-align: left;
}

#titulo{
	padding: 10px;
}

#conteudo{
	padding: 15px;
}

td.rotulo{
	vertical-align: text-top;
	padding-top: 8px;
	color: black;
	font-size: 10pt;
	padding-right: 5px;
}

.rotulo{
	text-align: right;
}

#menu{
	background-color: MidnightBlue;	
}

#rodape{
	width: 100%;
	background-color: MidnightBlue;	
	padding-top: 5px;
}

#rodape p{
	color: #222;
	font-size: 9pt;
}

.desenvolvidoPor{
	margin-top: 10px;
	font-size: 11pt;
	text-align: center;	
	color: #333;
}

.desenvolvidoPor a,.desenvolvidoPor a:visited {
	color: #333;
}

#tableRodape {
	width: 950px;
	margin: 0 auto;
}
#tableRodape * {
	font-size: 9px;;
	line-height: 12px;
	font-family: Tahoma;
	color: #FFF;
	padding-bottom:8px; 
}

#logout {
	position: absolute;
	margin-left: 920px;
	margin-top: 83px;
}

#logout a {
	font-weight: bold;
	color: white;
}

.topAquisicao{
	margin-left: 20px;
	margin-bottom: 10px;
}

.tituloAquisicao{
	text-align: center;
	color: #E13A21;
}

#navegacaoEtapasContratacao{
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	height: 60px;
}

.btEtapaAnterior{
	float: left;
	cursor: pointer;
}

.btProximaEtapa{
	float: right;
	cursor: pointer;
}

td.label{
	vertical-align: text-top;
	padding-top: 8px;
}





