* {
    margin: 0;
    padding:0;
	border: 0;
	text-align:justify;
	font-family: "Lucida Sans Unicode", verdana, arial, sans-serif;
	font-size: 10pt;
	}

body{
	background: url("/ProjetoOiSul/resources/images/background.jpg"); 	
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	font-family: verdana, arial, sans-serif;
	font-size: 10pt;
	color: #333;
	background-color: #6A65A6;
}

h1{
	font-size: 24pt;
	text-align: center;
	color: #444170;
}

h2{
	font-size: 16pt;
	text-align: left;
	color: #444170;
	margin-bottom: 20px;
}

div {
	border-collapse: collapse;
	display:block;
}

.alignRight{
	text-align: right;	
}

.alignRight{
	text-align: center;	
}

.oiEmpresas{
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	cursor: pointer;
}

.tituloPrincipal{
	float: left;
	margin-top: 20px;
	margin-left: 15px;
}

.alignCenter{
	text-align: center;	
}

#site{
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}

#conteudo{
	background-image: url("/ProjetoOiSul/resources/images/bgConteudo.png");
	background-position: center;
	background-repeat: repeat-y;
	width:1000px;
	margin-top: 75px;
	padding-bottom: 20px;
}


#corpo{
	width: 900px;
	margin: 0 auto;
	padding-top: 15px;
}

#slides {
	border: 1px solid #ccc;
	border-bottom-width: 0px;
	border-top-width: 0px;
	width: 100%;	
}


#cabecalho{
	text-align: center;
	background-image: url("/ProjetoOiSul/resources/images/bg-topo.png");
	height: 150px;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}

#tabelaTrabalhosHome{
	text-align: center;
	padding-left: 20px;	
}

#rodape{
	background-image: url("/ProjetoOiSul/resources/images/bgRodape.png");
	background-position: top center;
	background-repeat: repeat-y; 
	width: 1000px;
	margin: 0 auto;
}

#rodape p{
	color: #222;
	font-size: 9pt;
}

#olaUsuario{
	position: absolute;
	width: 1000px;
	padding-top: 90px;
	text-align: right;	
}

.desenvolvidoPor{
	margin-top: 10px;
	font-size: 11pt;
	text-align: center;	
	color: #333;
}

.desenvolvidoPor a,.desenvolvidoPor a:visited {
	color: #333;
}

#portifolio{
	text-align: center;
	margin-left: 23px;
}

.tituloPaginas{
	margin: 10 0 0 30;	
}

.capaPortifolio{
	float: left;
	text-align: center;	
	margin-bottom: 20px;
	margin-left: 5px;
}

.capaPortifolio *{
	text-decoration: none;
	color: #000;
}

.capaPortifolio span{
	float: left;
	color: #444;
	margin: -20 0 0 15;
}

#divFormContato {
	width: 600px;
	margin-left: 200px;
}

#divFormContato input, textarea {
	border: 1px solid #ccc;	
}

.botao{
	padding: 7 15 7 15;
	_padding: 7 0 7 35;
	font-weight: bold;	
}

#redesSociais{	
	margin-top: 5px;
}

#sucessoEmail{
	margin: 20 0 0 30;
	color: green;
	font-weight: bold;	
}

#areaRestrita{
	width: 400px;
	float: right;
	margin-left: 685px;
	margin-top: 100px;
	position: absolute;
	text-align: left;
}

#areaRestritaLogado{
	width: 280px;
	float: right;
	margin-left: 685px;
	margin-top: 130px;
	position: absolute;
	text-align: right;
}

#areaRestrita .cadastrese{
	margin-left: 80px;
	position: absolute;
}

#areaRestrita img{
	margin-left: 5px;
}
	
#areaRestrita span {
	text-decoration: none;
	font-size: 9pt;
	color: #444170;
}

#areaRestrita a {
	text-decoration: underline;
	font-size: 9pt;
	color: #444170;
}

#areaRestrita{
	text-decoration: none;
	font-size: 9pt;
}

#areaRestrita input{
	width: 80px;
	border: 1px solid #444170;
	padding: 2px;
	float: left;
}

#areaRestrita h1{
	text-align: left;
	font-size: 14pt;	
	font-weight: normal;
	line-height: 14pt;
}

#areaRestrita h2{
	font-size: 9pt;	
	line-height: 9pt; 
	font-weight: normal;
	color: #444170;
}

#barraMenu{
	position: absolute;
	margin: 0 5 auto;
	width: 990px;
	height: 100px;
	background-image: url("/ProjetoOiSul/resources/images/barraMenu.png"); 	
	z-index: 99;
}

#slides{
	margin-left: 25px;
}

#tableMenu {
	width: 960px;
	margin: 0 auto;
}

#tableMenu .itemMenu{
	text-align: center;
	color: #FFF;
	font-size: 12pt;
	cursor: pointer;
}
#tableMenu .itemMenu:hover {
	background-image: url("/ProjetoOiSul/resources/images/bgMenuHover.png"); 	
}

#tableMenu .divisorMenu{
	width: 3px;
}

#nav{
	position: absolute;
	z-index: 99;
	margin-left: 922px;
	margin-top: 228px;
}

#tabelaOfertasIndex{
	margin: 5px;
}

#tabelaOfertasIndex td {
	padding: 10px;
}

#nav a{
	padding: 0 10 0 10;
	background-color: #444170;
	font-size: 8pt;
	text-decoration: none;
	color: #FFF; 
}

#nav a:hover{
	background-color: #5C5999;
}

#nav a.activeSlide{
	background-color: #312F51;
}

#divisao{
	width: 950px;
	height: 14px;
	background-color: #444170;
	margin: 0 auto; 
}

#tableRodape {
	width: 950px;
	margin: 0 auto;
}
#tableRodape * {
	font-size: 9px;;
	line-height: 12px;
	font-family: Tahoma;
	color: #FFF;
	padding-bottom:8px; 
}

.label{
	text-align: right;
}

.floatLeft{
	float: left;
}

#btLogin {
	cursor: pointer;
}

.form-error{
	color: #F08080;
}